numpy
pandas
torch
opencv-python
scipy
matplotlib
seaborn
Flask
Flask-Login
Flask-SQLAlchemy
easyocr
requests
beautifulsoup4
ultralytics
Jinja2
pillow
streamlit
inference
filterpy
setuptools
streamlit-webrtc
